/* =============================================================================HTML5 CSS Reset Minified - Eric Meyer========================================================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none
}
/* =============================================================================My CSS========================================================================== */

/* ---- base ---- */

html, body {
	width: 100%;
	height: 100%;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font: Helvetica, sans-serif, Segoe UI;
}
canvas {
	display: block;
	vertical-align: bottom;
	height: 100%;
}
#stats, .count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}
#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
#particles-js {
	width: 100%;
	height: 100%;
	z-index: 0;
}
.particles-js-canvas-el {
	height: 1200px!important;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	background-image: url('images/bg1.png');
}
.layer {
	height: 1000px;
	z-index: 1;
	position: absolute;
}
.img {
	width: 100px;
	height: 100px;
	animation: scroll 60s linear infinite;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	vertical-align: middle;
}
.slide-track {
	display: flex;
	gap: 3em;
	overflow: hidden;
}
.slider {
	border: 2px solid white;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	background-color: whitesmoke;
	padding: 1em 1em;
	width: 800px;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translatex(-1000%)
	}
}
/* slideshow for single design */

* {
	box-sizing: border-box;
}
/* Position the image container (needed to position the left and right arrows) */

.container-slideshow {
	position: relative;
	width: 500px;
	margin: 0 auto;
}
/* Hide the images by default */

.mySlides {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Add a pointer when hovering over the thumbnail images */

.cursor {
	cursor: pointer;
}
/* Next & previous buttons */

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
/* Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* Container for image text */

.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Six columns side by side */

.column {
	float: left;
	width: 16.66%;
	margin-left: 14px;
}
/* Add a transparency effect for thumnbail images */

.demo {
	opacity: 0.6;
}
.active, .demo:hover {
	opacity: 1;
}